---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

export async function getStaticPaths() {
	const projects = await getCollection('projects');
	return projects.map(project => ({
		params: { slug: project.slug },
		props: { project },
	}));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout
	transition:animate="none"
	transition:name={`container-${project.slug}`}
	class="bg-[#f0f0f0] gap-4"
	title={project.data.title}
>
	<h1
		transition:animate="none"
		transition:name={`title-${project.slug}`}
		class="font-bold text-4xl font-display [text-wrap:balance] md:col-span-2 leading-none"
	>
		<p class="text-neutral-dark">{project.data.title}</p>
		<p class="text-neutral-light">{project.data.subtitle}</p>
	</h1>

	<div class="prose">
		<Content />
	</div>
</Layout>
